#perfil-esquerda{
    width: 280px; 
}

#perfil-esquerda .card img{
    width: 180px
}

#alterar{
    color: #0095D9;
}

#botao-enviar button{
    display: flex;
    height: 48px;
    width: 368px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
}

.senha {
    position: relative;
}

.bi-eye-slash {
    color: #307FE2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 10px;
    cursor: pointer;
}

p{
    margin: 0;
    padding: 0;
}

#button-form{
    font-family: 'Poppins', sans-serif;
    height: 48px;
}

*{
    font-family: 'Poppins', sans-serif;
}

.background{
    background-image: url(../img/background\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.barra-azul{
    height: 4px;
    width: 214.55px;
    background-color: #307FE2;
    border-radius: 100px;
}

#façalogin h1{
    color: #307FE2;
}

#façalogin p{
    font-size: 16.6px;
}

#seta{
    font-family: 'Lilita One', sans-serif;
    height: 60px;
    width: 60px;
}

#bloco-login{
  margin-top: 250px;
 
}

#cadastrar{
    font-size: 12px;
}

form input{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #828282;
}

form{
    position: relative;
}

form img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.hhh{
    min-height: 953px;
}

form input{
    border-color: #BDBDBD;
}


#cadastrar a{
    font-size: 12px;
}

/* Tarefa 4 */

#home{
    color: #0095D9;
}

#button{
    background-color: #0095D9;
    border: none;
}

#excluir{
    color: #FF161F;
}