

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}


/*Barra da Esquerda*/

.gambiarra{
    overflow-x: hidden;
    overflow-y: hidden;
}

.padeiro {
    padding: 32px;   
    padding-left: 40px;
}

.options {
    max-width: 201px!important;
}

.bi-house-door, .bi-star, .bi-box-arrow-right{
    font-size: 28px;
}

.bi-list, .bi-house-door, .bi-star {
    color: black;
}

.bi-box-arrow-right{
    color: #FF161F;
}

.dashboard a, .modalidades a{
    color: black;
}

.bi-list{
    font-size: 40px;
}

.hover:hover{
    cursor: pointer;
}

.bi-person-circle{
    color: #BDBDBD;
}

.log-out a, .modalidades a, .dashboard a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.pessoa :nth-child(1){
    color: #333;
    font-size: 14px;
}

.pessoa :nth-child(2){
    color: #4F4F4F;
    font-size: 12px;
}

/* Página 8 */

.gerar{
    color: #0095D9;
}

.pesquisar{
    width: 394px;
}

.pesquisar::placeholder{
    font-size: 14px;
}

.categoria::placeholder, .curso::placeholder{
    color: black;
}

.categoria, .curso{
    background-color: #fff;
}

.formcategoria{
    padding: 10px;
}

.iconepesquisa{
    position: absolute;
    width: 20px;
    top: 11px;
    left: 16px;
}

.pesquisarbloco, .categoriabloco, .cursobloco{
    position: relative;
}

.curso{
    width: 105px;
}

.setaazul{
    position: absolute;
    right: 15px;
    top: 16px;
}

.esptitulo :nth-child(1){
    width: 265px;
}

.esptitulo :nth-child(2){
    width: 170px;
}

.listainsana p{
    font-size: 14px;
}

.esptitulo, .especificações{
    padding-top: 12px;
    padding-bottom: 12px;
}

.nomemodalidade{
    width: 264px;
}

.participantes{
    width: 300px;
}

.individual{    
    background-color: #E9F8FF;
    color: #0095D9;
    margin-right: 140px;
}

/* Página 9 */

#tipo{
    color: #0095D9;
    background-color: #E9F8FF;
    border-radius: 50px;
    padding: 2px 6px;
}

#link-card{
    color: #0095D9;
    font-size: .875em;
}

#modal{
    width: 172px;
    height: max-content;
}

#home{
    color: #0095D9;
}

/*segunda página 11*/

.formulario-ultima-pg{
    color: #333333;
}
.formulario-ultima-pg label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.botao-azul-cadastrar button{
    width: 164px;
    padding: 8px 16px;
}