

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}


/*Barra da Esquerda*/

.gambiarra{
    overflow-x: hidden;
}

.padeiro {
    padding: 32px;   
    padding-left: 40px;
}

.options {
    max-width: 201px!important;
}
